.singlePage {
    display: flex;
    height: 100%;


    .details {
        flex: 3;
        overflow-y: scroll;
        height: 100%;
        padding-bottom: 10%;

        .wrapper {
            padding-right: 50px;

            .info {
                margin-top: 50px;

                .top {
                    display: flex;
                    flex-direction: space-between;
                    gap: 20px;

                    .post {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        h1 {
                            font-weight: 400;

                        }

                        .address {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            color: #888;
                            font-size: 14px;

                            img {
                                height: 16px;
                                width: 16px;
                            }
                        }

                        .price {
                            padding: 5px;
                            background-color: rgba(254, 205, 81, 0.438);
                            border-radius: 5px;
                            width: max-content;
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }

                    .user {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        padding: 10px;
                        border-radius: 10px;
                        background-color: rgba(254, 205, 81, 0.208);
                        font-weight: 600;
                        cursor: pointer;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;

                        }
                    }

                }

            }

            .bottom {

                margin-top: 50px;
                color: #555;
                line-height: 20px;
            }
        }
    }

    .features {
        flex: 2;
        background-color: #fcf5f3;
        overflow-y: scroll;
        height: 100%;


        .wrapper {
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;


            .title {
                font-weight: 600;
            }

            img {
                height: 24px;
                width: 24px;
            }

            .listVertical{
                display: flex;
                flex-direction:column;
                background-color: white;
                border-radius: 20px;
                
            }

            .listHorizontal{
                display: flex;
                flex-direction: space-between;
            }


            .feature {
                padding:5%;
                background-color: white;
               
            }

            
            .size{
                display: flex;
                flex-direction: space-between;
                gap:20px;
            }
        }


    }
}